//全局样式
.header-white{
    padding: 20px 15px;
    margin-bottom: 30px;
    background: #fff;
    .title{
        font-size: 28px;
        font-weight: bolder;
    }
}

.main-content{
    padding: 20px 15px;
    background: #fff;
}


//index样式
#index {
    height:100vh
}
