//全局样式
.myheader{
    padding: 10px 15px;
    margin-bottom: 10px;
    .title{
        padding: 20px 30px;
        font-size: 28px;
        font-weight: bolder;
    }
}
.bg-white{
    background: #fff
}

.main-content{
    box-sizing: border-box;
    padding: 20px 15px;
}


//index样式
#index {
    height:100vh
}
